# Python
__pycache__/
*.py[cod]
.env
venv/
.venv/

# OS
.DS_Store

# Certificates
certs/
*.pem
*.p12
*.pfx

# Google credentials
services/translation/credentials/
token.json
client_secret*.json
.coverage
htmlcov/
coverage/
